.Footer {
  position: absolute;
  bottom: -75px;
  left: 50%;
  transform: translate(-50%);
  height: 150px;
  padding: 0 2rem;
  width: 30vw;
  transition: 0.5s;
}

.Footer:hover {
  transition: 0.5s;
  border-top: solid black 2px;
  border-left: solid black 2px;
  border-right: solid black 2px;
  bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.Footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.Footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.Footer-bottom-container {
  position: relative;
  display: grid;
  grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
  column-gap: 2rem;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.footerSvg {
  display: inline;
}

.Footer-link {
  display: block;
  border: solid white 2px;
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.Footer-link:hover {
  transition: 0.5s;
  background-color: white;
  cursor: pointer;
}
