.main {
  height: 100vh;
  width: 100vw;
  background-color: #c7c5be;
  display: grid;
  grid-template-columns: 35% 30% 35%;
}

.main-title {
  position: absolute;
  top: 5vh;
  left: 50vw;
  transform: translate(-50%) scale(0.6);
}

.main-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
